$primary: #ff8e3c;
$secondary: #ff8e3c;
$tertiary: #d9376e;

$danger: rgb(215, 15, 15);
$warning: rgba(245, 162, 8, 0.966);

$light : #eff0f3;
$light-creme: #fffffe;
$dark: #0d0d0d;
$gray: rgb(109, 107, 107);
$green: #96c03d;
$warningRelatedLinks: rgba(245, 162, 8, 0.966);

$text: #2a2a2a;

$navHeight: 120px;
$footerHeightLarge: 300px;
$footerHeightMedium: 500px;
$footerHeightSmall : 600px;
